/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  header {
    background-color: #333;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;    
  }

 
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding-left: 100px;
  }
  
  .hero {
    background-color: #000;
    color: #fff;
    padding: 100px;
    text-align: center;
  }
  
  .cta {
    display: inline-block;
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
  }
  
  .services {
    background-color: #f2f2f2;
    padding: 50px;
    text-align: center;
  }
  
  .services h2 {
    margin-bottom: 20px;
  }
  
  .services li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  .portfolio {
    background-color: #333;
    color: #fff;
    padding: 50px;
    text-align: center;
  }
  
  .portfolio h2 {
    margin-bottom: 20px;
  }  